$pc1: #397379; /* DeepBlue */
$pc2: #353535; /* Grey */
$pc3: white;

$white: white;

$lac1: white; /* Link active 1 */
$lhc1: #888; /* Link hover 1 */

$sc-greeting: #7accc8; /* Greeting */
$sc-work: #f3f6e8; /* Work Section */

$section-space: 8px;

$font-stack-Raleway: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-Ubuntu: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin white-dropshadow {
	text-shadow: 0px 1px 0px rgba(white,0.5);
    filter: dropshadow(color=rgba(white,0.5), offx=0, offy=1);
}

@mixin black-innershadow {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    filter: dropshadow(color=rgba(0,0,0,0.2), offx=0, offy=-1);
}

@mixin section-setup($color) {
	padding-top:3%;
	padding-bottom:3%;
	margin-bottom:8px;
	
	background-color: $color;
}

/* Media Queries */
@mixin breakpoint($point) {
  @if $point == hulk {
    /* Desktop and up */
    @media (min-width: 980px){ @content; }
  }
  @else if $point == ironman {
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { @content; }
  }
  @else if $point == thor {
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px)  { @content; }
  } 
  @else if $point == wolvi {
    /* Landscape phones and down */
    @media (max-width: 480px)  { @content; }
  } 
}

/* Headings and Paragraphs */

h1, h2, h3, h4, h5, h6, p, a, label, input {
	text-rendering: optimizeLegibility;
	margin:0 auto 8px auto;
	
	@include breakpoint(thor) {
		margin:0 auto 5px auto;	
	}
	
	@include breakpoint(wolvi) {
		margin:0 auto 4px auto;
	}
}

h1, h2, h3, h4, h5{
	text-transform: uppercase;
}


h1 {
	font-family: $font-stack-Raleway;
	font-size:50px;
	letter-spacing:-2px;
	line-height:45px;
	font-weight:300;
	
	
	@include breakpoint(wolvi) {
		font-size:38px;
		line-height:32px;
	}
}

h2 {
	font-family: $font-stack-Ubuntu;
	font-size:40px;
	letter-spacing:-1px;
	line-height:36px;
	font-weight:800;
	
	@include white-dropshadow;
	
	@include breakpoint(thor) {
		font-size:34px;
		line-height:30px;
	}
	
	@include breakpoint(wolvi) {
		font-size:28px;
		line-height:24px;
	}
}

h3 {
	font-family: $font-stack-Ubuntu;
	font-size:40px;
	letter-spacing:-0.7px;
	line-height:36px;
	font-weight:800;
	
	@include breakpoint(thor) {
		font-size:33px;
		line-height:29px;
	}
	
	@include breakpoint(wolvi) {
		font-size:28px;
		line-height:24px;
	}
}

h4 {
	font-family: $font-stack-Raleway;
	font-size:20px;
	line-height:22px;
	font-weight:300;
	
	@include breakpoint(thor) {
		font-size:22px;
		line-height:21px;
	}
	
	@include breakpoint(wolvi) {
		font-size:18px;
		line-height:18px;
	}
}

h5 {
	font-family:$font-stack-Ubuntu;
	font-size:18px;
	line-height:18px;
	font-weight:800;
}

p, li, label {
	font-family:'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:22px;
}

a {
	font-size:12px;
	color: $lac1;
	text-decoration:none;
	
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

a:hover {
	color: $lhc1;
	text-decoration:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.text-center {
	text-align:center;
}

.text-left {
	text-align:left;
}

/* End Headings and Paragraphs */


.hspace10 {
	margin-left:10px;
}

.hspace20 {
	margin-left:20px;
}

.hspace30 {
	margin-left:30px;
}

.hspace40 {
	margin-left:40px;
}

.vspace10 {
	margin-top:10px;
}

.vspace20 {
	margin-top:20px;
}

.vspace30 {
	margin-top:30px;
}

.vspace40 {
	margin-top:40px;
}

* {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

body {
	padding: $section-space;
}

/* Nav */

nav {
	position:fixed;
	z-index: 99;
	top: 0;
	left: 0;
	
	width: 100%;
	border-bottom:8px white solid;
	
	background-color:rgba(#353535,0.97);
	
	ul.pg-navbar {
		margin-left:0px;
	}
	
	ul {
		padding:15px 0 8px 0;
		text-align:center;
		
		li {
			display:inline;
			padding-right:3%;
			padding-left: 0;
			
			a {
				text-transform: uppercase;
			}
			
		}
		
		li:last-child {
			padding-right:0;
		}
	}
	
}
/* End Nav */

.wrapper {
	margin-top: 83px;
}

/* Greeting */

header {
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom:8px;
	width: 100%;
	
	background-color:$sc-greeting;
	
	display:table;
	
	div {
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		width: 100%;
	}
	
	h2 {
		color:$pc1;
	}
	
	h5 {
		color:$white;
	}
  
    @include breakpoint(thor) {
        padding-top: 40px;
		padding-bottom: 40px;
	}
	@include breakpoint(wolvi) {
        padding-top: 20px;
		padding-bottom: 20px;
	}
  
}

/* End Greeting */


/* Large Image */

section.image-section {
	min-height:420px;
	margin-bottom:8px;
	width: 100%;
	
	background-color:#ffffff;
	background-image:url(../../images/alley_01.jpg);
	background-size:cover;
	background-position:top;
	background-repeat:no-repeat;
	display:table;
	
	div {
		width: 100%;
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}
	
	h1, h2 {
		width: 90%;
	}
	
	h1 {
		color: $pc3;
	}
	
	
	@include breakpoint(ironman) {
        min-height:300px;
		
	}
	@include breakpoint(thor) {
		min-height:300px;

	}
	@include breakpoint(wolvi) {
		min-height:200px;
		
	}
}

/* End Large Image */


/* Work */

section.work-section {
	@include section-setup($sc-work);

	ul {
		margin-left:10%;
		margin-right:10%;
		
		li {
			margin-bottom:3px;
			margin-left:3px !important;
		}
		
		li.thumb-span {
			width: 24.2% !important;
		}
	}
	
	@include breakpoint(thor) {
		ul {
			margin-left:5%;
			margin-right:5%;
		
			li.thumb-span {
				width:48.5% !important;
			}
		}

	}
	@include breakpoint(wolvi) {
		ul {
			margin-left:2%;
			margin-right:2%;
		
			li.thumb-span {
				width:48.5% !important;
			}
		}
		
	}
}

.row-fluid [class*="span"] {
	float:left !important;
}	

.work-thumbs {
	webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.055);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0.055);
	box-shadow: 0 0px 0px rgba(0,0,0,0.055);
	
	background-color:#FFFFFF;
	border:none;
	padding: 0;
}

/* End Work */

/* About Sections */
$sc-about: #f38872; /* About Section */
$sc-skills: #ecd8ee; /* Skills Section */
$about-pad-var: 12%;

@mixin about-padding($number) {
	padding-left:$number;
	padding-right:$number;
}

section.about-section, section.skills-section, section.prof-section {
	
	@include breakpoint(ironman) {
		padding-left:8%;
		padding-right:8%;

	}
	
	@include breakpoint(thor) {
		padding-left:5%;
		padding-right:5%;

	}
}

/* About */
section.about-section {
	@include section-setup($sc-about);
	@include about-padding($about-pad-var);
	
	h3, h4 {
		color: #a1321c;
	}
	
	p, li, labal {
		color:$white;
	}
}

.about-me, .skillset, proficiencies {
	width:70%;
	float:left;
	padding-right:40px;
	
	@include breakpoint(thor) {
		width: 100%;
		padding-right:0;

	}
}

.about-img {
	width: 30%;
	float: right;
	
	@include breakpoint(hulk) {
		width: 25%;

	}
	
	@include breakpoint(thor) {
		width: 35%;
		clear:both;
		margin-bottom:-20px;

	}
}
/* End About */

/* Skills */
section.skills-section {
	@include section-setup($sc-skills);
	@include about-padding($about-pad-var);
	
	h3, h4 {
		color: #a373a7;
	}
	
	p, li, labal {
		color:$pc2;
	}
}

/* Sign-Off */

.sign-off {
	padding-top:30px;
	padding-bottom:20px;
	
	background-color:#fffbe2;
}

/* End Sign-Off */


/* -----MEDIA QUERIES------ */
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {



.vspace10 {
	margin-top:3px;
}

.vspace20 {
	margin-top:7px;
}

.vspace30 {
	margin-top:15px;
}

.vspace40 {
	margin-top:20px;
}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	


h1.project-title {
	
	font-size:35px;
	max-width:85%;
}

.vspace10 {
	margin-top:3px;
}

.vspace20 {
	margin-top:7px;
}

.vspace30 {
	margin-top:15px;
}

.vspace40 {
	margin-top:20px;
}

}


/* Projects */

.project-header {
	padding-top:40px;
	padding-bottom:30px;
	margin-bottom:50px;
	
	background-color:#ecf8f8;
}

.project-section {
	padding-bottom:3%;
	min-height:300px;
	margin-bottom:8px;
	
	background-color:#ffffff;
}

h1.project-title {
	
	font-size:60px;
	max-width:90%;
	font-weight:300;
	line-height:50px;
}

.project-img {
	margin-left:5%;
	margin-right:5%;
	text-align:center;
}

.project-img img {
	height:auto;
	max-width:100%;
}

.project-img hr {
	margin-top:3%;
	margin-bottom:3%
}

/* End Projects */